
// breakpoints and margins
$mobile-margin: 16px;
$mobile-column: auto;

$mobile-width: 320px;

$tablet-width: 768px;
$tablet-margin: 32px;
$tablet-gutter: 24px;
$tablet-column: auto;

$desktop-width: 1280px;
$desktop-margin: 124px;
$desktop-gutter: 24px;
$desktop-column: 63px;

//Colors
$medium-Brown: #AE6427;
$regular-Brown: #572700;
$light-Brown: #E5CD6C;

//fonts
$font-regular: "Jua", sans-serif;



