@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.App--Main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__text{
        width: 30%;
        height: 90%;
    }
    &__map{
        width: 40vw;
        height: 80vh;
    }
}

// .map-container {
//     width: 40vw;
//     height: 80vh;
//     // margin-top: 20px;
//   }
  