@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.App--Main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__text {
    width: 30%;
    height: 90%;
  }
  &__map {
    width: 60vw;
    height: 150vh;
    position: relative;
  }
}

.map-container {
  width: 60vw;
  height: 120vh;
  position: relative;
}

.marker {
  background-image: url("../../assets/logo/icons8-map-marker-50.png"); 
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 4px;

}
.mapboxgl-popup-content{
    position: absolute;
    bottom: 730px;
    right: 2px;
    left: 20px;
}
