@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.hero__box{
    color: $regular-Brown;
    &--questioner{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        @include desktop{
            justify-content: space-evenly;
        }
    }
}
.button{
    border-radius: 15%;
    background-color: rgba(178, 115, 13, 0.823);
    color: $regular-Brown;
    font-weight: 200;
    &--box{
        padding-top: 14px;
    }
}

.answer-container {
display: flex;
flex-direction: column;
align-items:baseline;
position: relative;
overflow: hidden;
}

.question-image {
    width: 100%; /* Ensures the image fills its container */
    max-width: 150px; 
    // max-height: 150px;
    // height: auto;
    // object-fit: cover;
   
    margin-bottom: 10px;

    @include desktop{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-in-out;
    }
}
.answer-button{
    color: $regular-Brown;
    background-color: rgb(203, 192, 177);
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    @include desktop{
        width: 95%;
        border-radius: 5px;
        font-size: 25px;
    }
    
}
