@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.hero__box{
    color: $regular-Brown;
    &--questioner{
        display: flex;
        justify-content: space-evenly;
    }
}
.button{
    border-radius: 15%;
    background-color: rgba(178, 115, 13, 0.823);
    color: $regular-Brown;
    font-weight: 200;
}