@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;


*{
    font-family: $font-regular;
    font-size: large;
}

.App--header{
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly; 
    &__logo{
        height: 52px;
        padding-top: 10px;
        padding-left: 0;
        @include desktop{
            width: 5%; 
            padding-left: 0;
        }
    }
    
    &__text{
        color: $medium-Brown;
    }   
    &__menu{
        padding-top: 30px;
    }
   
    @include desktop{
        padding-left: 4rem;
        justify-content: space-between;
    }
    
   
}

.App--hero{
    width: 200px;
    height: 250px;
    @include desktop{
        width: 100%;
        height: 40%; 
    }
}
.logoImageHeader{
    width: 100%;
    height: 52px;
    @include desktop{
        width: 150px;
        height: 120px;
        padding-left: 0;
        border-left: 0;
    }
}
.heroImage{
    width: 540px;
    height: 278px;
    transform: scaleX(0.85) scaleY(0.75);
    @include desktop{
       width: 20%; 
       height: 30%;
       transform: scaleX(3.6) scaleY(0.95);
    }
}
hr{
    background-color: $light-Brown;
    height: 1px;
    border: 4px;
    width: 88%;
}
h1{
    font-size: 30px;
    @include desktop{
        font-size: 50px;
    }

}
.lottie-container{
    @include desktop{
        padding-right: 4rem;
        width: 190px;
        height: 120px;
        
    }
    
}
.lottie-animation{
    @include desktop{
        width: 100px;
        height: 100px;
    }
}