@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

*{
    font-family: $font-regular;
}

.App--header{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    &__logo{
        height: 52px;
        padding-top: 10px;
    }
    
    &__text{
        color: $medium-Brown;
    }
    &__menu{
        padding-top: 30px;
    }
}
.App--hero{
    width: 550px;
    height: 250px;
}
.logoImage{
    width: 56px;
    height: 52px;
}
.heroImage{
    width: 450px;
    height: 225px;
}
hr{
    color: $light-Brown;
    width: 448px;
    height: 1px;
}