@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

*{
    font-family: $font-regular;
    font-size: large;
}

.App--header{
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;
    &__logo{
        height: 52px;
        padding-top: 10px;
        padding-left: 0;
    }
    
    &__text{
        color: $medium-Brown;
    }
    &__menu{
        padding-top: 30px;
    }
}
.App--hero{
    width: 200px;
    height: 250px;
}
.logoImage{
    width: 56px;
    height: 52px;
}
.heroImage{
    width: 450px;
    height: 278px;
    transform: scaleX(0.82) scaleY(0.75);
}
hr{
    color: $light-Brown;
    width: 448px;
    height: 1px;
}
h1{
    font-size: 30px;

}